force-app/main/default/flows/Assign_Lead_to_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner_to_Lead</name>
        <label>Asignar Propietario al Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_QueueRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Queue_Componentes</name>
        <label>Cola para Componentes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Support_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_Medida</name>
        <label>Cola para Soluciones a Medida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Support_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_Perifericos</name>
        <label>Cola para Periféricos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Support_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_Software</name>
        <label>Cola para Software</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Software_Support_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_By_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_ProductCategory</name>
        <label>¿Qué categoría de producto?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Sin categoría (sin asignación automática)</defaultConnectorLabel>
        <rules>
            <name>Rule_Componentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductInterest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Componentes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Componentes</targetReference>
            </connector>
            <label>Componentes</label>
        </rules>
        <rules>
            <name>Rule_Perifericos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductInterest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Periféricos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Perifericos</targetReference>
            </connector>
            <label>Periféricos</label>
        </rules>
        <rules>
            <name>Rule_Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductInterest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Software</targetReference>
            </connector>
            <label>Software</label>
        </rules>
        <rules>
            <name>Rule_Medida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductInterest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soluciones a medida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Medida</targetReference>
            </connector>
            <label>Soluciones a medida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Queue_Found</name>
        <label>¿Cola encontrada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Cola no encontrada (sin cambio de propietario)</defaultConnectorLabel>
        <rules>
            <name>Rule_Queue_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_QueueRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_Lead</targetReference>
            </connector>
            <label>Cola encontrada</label>
        </rules>
    </decisions>
    <description>Asigna el Lead al comercial/cola correspondiente según ProductInterest__c. Las colas Hardware_Support_Queue y Software_Support_Queue deben existir en la org. Este flow se ejecuta antes de guardar el Lead (BeforeSave).</description>
    <environments>Default</environments>
    <label>Assign Lead to Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_By_Name</name>
        <label>Obtener Cola por Nombre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_QueueDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>var_QueueRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_ProductCategory</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_QueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
