force-app/main/default/flows/Shipment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Tracking_Service</name>
        <label>Llamar Servicio de Tracking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ShipmentTrackingService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>shipmentIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ShipmentTrackingService</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_TriggerType</name>
        <label>¿Tipo de disparo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Otro cambio (ignorar)</defaultConnectorLabel>
        <rules>
            <name>Rule_IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Enviado</targetReference>
            </connector>
            <label>Registro nuevo</label>
        </rules>
        <rules>
            <name>Rule_StatusEntregado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Entregado</targetReference>
            </connector>
            <label>Estado cambiado a Entregado</label>
        </rules>
    </decisions>
    <description>Al crear un Shipment_Tracking__c, actualiza el Shipping_Status__c del Order padre a &quot;Enviado&quot; y llama al servicio de tracking. Cuando el Status__c cambia a &quot;Entregado&quot;, actualiza el Order a &quot;Entregado&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>var_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <label>Notificación Envío</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Order_Entregado</name>
        <label>Actualizar Order a Entregado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_Status__c</field>
            <value>
                <stringValue>Entregado</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Enviado</name>
        <label>Actualizar Order a Enviado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Tracking_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_Status__c</field>
            <value>
                <stringValue>Enviado</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_TriggerType</targetReference>
        </connector>
        <object>Shipment_Tracking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
