force-app/main/default/flows/Update_Inventory_on_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_InventoryFound</name>
        <label>¿Se encontró registro de inventario?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Inventario no encontrado (ignorar)</defaultConnectorLabel>
        <rules>
            <name>Rule_InventoryExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventory_Stock</targetReference>
            </connector>
            <label>Inventario encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_LowStock</name>
        <label>¿Stock bajo el punto de reposición?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Stock suficiente</defaultConnectorLabel>
        <rules>
            <name>Rule_LowStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_NewAvailable</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_Inventory.Reorder_Point__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reorder_Task</targetReference>
            </connector>
            <label>Stock bajo - requiere reposición</label>
        </rules>
    </decisions>
    <description>Al crear un OrderItem, busca el registro de Inventory__c del producto y actualiza Reserved_Stock__c y Available_Stock__c. Si el stock cae por debajo del punto de reposición, crea una Task de alerta.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_NewAvailable</name>
        <dataType>Number</dataType>
        <expression>{!var_Inventory.Available_Stock__c} - {!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_NewReserved</name>
        <dataType>Number</dataType>
        <expression>{!var_Inventory.Reserved_Stock__c} + {!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <label>Update Inventory on Order Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reorder_Task</name>
        <label>Crear Tarea de Reposición</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Alerta: Stock bajo - requiere reposición</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Inventory_Record</name>
        <label>Obtener Inventario del Producto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_InventoryFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <object>Inventory__c</object>
        <outputReference>var_Inventory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Available_Stock__c</queriedFields>
        <queriedFields>Reserved_Stock__c</queriedFields>
        <queriedFields>Reorder_Point__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory_Stock</name>
        <label>Actualizar Stock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_LowStock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Inventory.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Stock__c</field>
            <value>
                <elementReference>Formula_NewAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Stock__c</field>
            <value>
                <elementReference>Formula_NewReserved</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventory_Record</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
</Flow>
